<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width-device-width, initial-scale=.01">
        <title>Kas Tracking</title>
        <link rel="stylesheet" href="stylesheet.css">
        <link rel="stylesheet" href="responsive.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    </head>
    <body>
        <header>
            <div class="container">
                <div class="header-left">
                    <img class="logo" src="Logo-kas-tracking.png">
                </div>

                <span class="fa fa-bars menu-icon"></span>
                <div class="header-right">
                    <a href="#">Daftar</a>
                    <a href="#">Log in</a>
                </div>
            </div>
        </header>

        <div class="top-wrapper">
            <div class="container">
                <h1>MENGOLAH DATA KEUANGAN LEBIH MUDAH</h1>
                <h1>BEKERJA MENJADI LEBIH EFEKTIF</h1>
                <p>Kas Tracking hadir untuk memberi kemudahan dalam mengolah data keuangan Anda</p>
                <p>Membuat Tugas Sebagai Bendahara Jauh Lebih Mudah</p>
                <div class="btn-wrapper">
                    <a href="#" class="btn signup">Daftar dengan Email</a>
                    <p>atau</p>
                    <a href="#" class="btn delcom"><span class="fa fa-delcom"></span>Daftar dengan DelCom</a>
                </div>
            </div>
        </div>

        <div class="message-wrapper">
            <div class="container">
                <div class="heading">
                    <h2>Apakah Pengolahan Data Keuangan Anda Terlalu Rumit?</h2>
                    <h3>Kas Tracking hadir untuk mempermudah tugas Anda!</h3>
                </div>
                <span class="btn message">Saatnya Mencoba</span>
            </div>
        </div>
        <footer>
            <div class="container">
                <img src="Logo-footer.png">
                <p>Bekerja lebih mudah, lebih terstruktur.</p>
            </div>
        </footer>
    </body>
</html>
